<h2><%= repo.name %></h2>

<div class="repos">
  <div class="repo">
    <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watchers.length %></span>
    <h3><%= repo.description %></h3>
  </div>
</div>
