<div id="repoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="repoModalLabel" aria-hidden="true">
  <form id="addRepoForm" class="modal-form" data-async method="POST" action="/apiv1/repo/">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="repoModalLabel">Add Repository</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="path">Path</label>
        <div class="controls">
          <input type="text" id="path" class="span5" name="path" placeholder="Repository Path" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" id="name" name="name" placeholder="Repository Name (no spaces)" required pattern="^[\S]*$">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea id="description" name="description" rows="3" placeholder="Description"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="language">Primary Language</label>
        <div class="controls">
          <input type="text" id="language" name="language"  placeholder="Language">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" id="shared" name="shared" checked> Share Repository
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="repoRemoveButton" class="btn btn-danger pull-left" data-dismiss="modal" aria-hidden="true">Remove</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true" type="reset">Cancel</button>
      <button id="repoSubmitButton" class="btn btn-primary"></button>
    </div>
  </form>
</div>

<script>
  function setupRepoAdd() {
    $("#repoModalLabel").text("Add Repository");
    $("#repoSubmitButton").text("Add");
    $("#repoRemoveButton").hide();
  }

  function setupRepoChange(repoName) {
    $.get('/apiv1/repo/' + repoName, function(data) {
      $("#path").val(data.path);
      $("#name").val(data.name);
      $("#description").val(data.description);
      $("#language").val(data.language);
      $("#shared").prop('checked', data.shared)
    });
    $("#repoModalLabel").text("Modify Repository Configuration");
    $("#repoSubmitButton").text("Save");
    $("#repoRemoveButton").show();
    $("#repoRemoveButton").click(function() {
      $.ajax('/apiv1/repo/' + repoName, {
        type: 'delete',
        success: function(data) {
          window.location.replace('/');
        }
      });
    });
  }
</script>