<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ }
      h4 { margin-top: 1em; }
      ul { list-style-position: inside; }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-toggle-buttons.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/jquery-1.8.2.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.toggle.buttons.js"></script>
    <script src="/javascripts/clippy-jquery/jquery.clippy.js"></script>
  </head>

  <body>
    <% include _navbar %>

    <div class="container">
      <%- body %>
    </div>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/sockets.js"></script>
</html>
