<h2><%= description %></h2>

<h4>Shared Repositories</h4>
<% sharedRepos.forEach(function(repo) { %>
  <% var stars = ''; for (var i = 0; i < repo.watchers.length; i++) { stars += '*'; } %>
  <p><%= gitUrlPrefix %>/<%= repo.name %> <%= stars %></p>
<% }); %>
